{% extends 'base.html' %} {% block title %}
<title>Signup</title>
{% endblock title %} {% block content %}

<div>
  <h1>Signup</h1>
  <form method="post">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit">Signup</button>
  </form>
</div>

{% endblock content %}
